# デバイス設定
device:
  # グリッドタイインバーターの接続設定
  gti:
    com-port: "ttyUSB0"
    unit-id: 1

# サービス設定
service:
  # Ambientのチャネル接続設定
  ambient:
    channel-id: 99999
    read-key: "****************"
    write-key: "****************"
  ## Open Weather API接続設定
  open-weather:
    # 都市ID
    city-id: 1848354
    # APIアクセスキー
    api-key: "********************************"

# 費用設定
cost:
  # kWh当たりの電気代(円)
  kwh: 30
